.form-block {
  display: grid;
  gap: 20px;

  &.form-block--2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    > *:not(.form-block__control) {
      grid-column: span 2;

      @media (width <= 600px) {
        grid-column: unset;
      }
    }

    @media (width <= 600px) {
      grid-template-columns: 1fr;
    }
  }

  .form-block__title {
    font-size: 21px;
    line-height: 1.33;
    font-weight: 600;
  }

  .form-block__inner-label {
    margin-bottom: 12px;
  }

  .form-block__inner-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
}
