*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #13284a;
    background-color: #fcfcfc;
}

body,
h1,
p {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 26px;
    text-align: center;
}

.form {
    display: grid;

    .form__wrapper {
        display: grid;
        row-gap: 20px;
    }

    .form__buttons {
        display: flex;
        column-gap: 20px;
        margin-top: 40px;
        margin-left: auto;
    }

    .form__button {
        min-width: 191px;
    }
}

.text-block {
    margin-bottom: 30px;

    >p {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}